@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Lora:wght@500&family=Noto+Serif:ital@1&family=Poppins:wght@400;500;600;700&family=Raleway:wght@500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.banner-image {
    opacity: .8;
}

.banner-title {
    border-radius: 8px;
    opacity: .9;
}

.banner-button {
    background-color: rgba(19, 18, 18, 0.705);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    opacity: 1;
}


/* Carousel Responsive  */

@media only screen and (max-width: 767px) {
    .banner-item {
        width: 100%;
        max-height: 200px !important;
    }
    .caro-caption {
        padding-top: 20px;
        width: 50%;
        height: 150px;
        margin-top: 50px;
        font-size: 10px;
    }
}

.list-item {
    list-style: none;
}

.tick {
    color: black;
}

.special-card {
    background-color: rgb(31, 32, 31);
    transform: scaleY(1.1);
    color: white;
    opacity: 0.8;
}


/* Client section */


/* responsive */

@media only screen and (max-width: 767px) {
    .ending {
        display: flex !important;
        flex-direction: column-reverse;
        column-gap: 5px;
    }
}


/* about */

.about {
    background-color: rgba(32, 31, 31, 0.767);
    color: white;
}

.useful-links {
    list-style: none;
}

ul li {
    list-style: none;
    text-decoration: none;
}